#img1{
    margin-right: 20px;
}
#header{
    background: black;

}

.fixed-top{
    background-color: black !important;
    height:30 !important;
}

@media screen and (max-width: 400px) {
#header a{
 font-size:18px;
}

}
.cliens img{
max-width:74% !important;
}
